# vi:syntax=sh
alias refresh='source ~/.bashrc'

# ls
if [[ "$OSTYPE" == "linux-gnu"* ]]; then
    alias ls='ls --color --group-directories-first' # on GNU/linux
elif [[ "$OSTYPE" == "darwin"* ]]; then
    alias ls='ls -GF' # on macOS
fi
alias ll='ls -CF -lh'
alias la="ll -A"
alias lst="ls -lht"

# tmux
alias t="tmux"
alias ta="t a -t"
alias tls="t ls"
alias tn="t new -t"

# navigation
alias cddk="cd ~/Desktop/"

# grep
alias grep='grep --color=auto'

# git 
alias ga="git add "
