# vi:syntax=sh
alias refresh='source ~/.bashrc'

alias vim="nvim"
alias vi="nvim"

# ls
if [[ "$OSTYPE" == "linux-gnu"* ]]; then
    alias ls='ls -F --color --group-directories-first' # on GNU/linux
elif [[ "$OSTYPE" == "darwin"* ]]; then
    alias ls='ls -GF' # on macOS
fi
alias ll='ls -C -lh'
alias la="ll -A"
alias lst="ll -t"

# tmux
alias t="tmux"
alias ta="t a -t"
alias tls="t ls"
alias tn="t new -t"
alias tkill="t kill-session -t"

# navigation
alias cddk="cd ~/Desktop/"

# grep
alias grep='grep --color=auto'

# git 
alias ga="git add "

